{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12 mt-5">
            <h1>Current value: <span class="value">{{value.value}}</span></h1>
        </div>
        <div class="col-md-12 mt-5">
            <button class="btn btn-success btn-increment">+ Increment</button>
            <button class="btn btn-danger btn-decrement">- Decrement</button>
        </div>
    </div>
{% endblock %}